name: CI

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:

permissions:
  contents: read

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: maven

      - name: Build app (without tests)
        run: mvn -B -ntp clean install -DskipTests

      - name: Run tests
        run: mvn -B -ntp test

      - name: Sonar analysis
        env:
          SONAR_TOKEN: ${{ secrets.astendor2-java-token }}
          run: mvn -B -ntp sonar:sonar
